// Defines color variables to be used
$text-color: #3D3D3D;
$text-color2: #6D6D6D;

body {
	color: $text-color;
	background-color: $text-color2;
}

p {
	color: $text-color;
}

h2 {
	background-color: $text-color2;
}


